In [4]:
import pandas as pd

In [5]:
# loop through CSV files and combine into single CSV
path = "resources/female_2008.csv"

test_df = pd.read_csv(path)

In [6]:
test_df.head()

,State,Sex,Race/Ethnicity,Age Group,First Year,Last Year,Rank,Cause of Death,Deaths
0,United States,Females,"All Races,",<1 yrs,2008,2008,1,Congenital Anomalies,2671
1,United States,Females,"All Races,",<1 yrs,2008,2008,2,Short Gestation,2077
2,United States,Females,"All Races,",<1 yrs,2008,2008,3,SIDS,974
3,United States,Females,"All Races,",<1 yrs,2008,2008,4,Maternal Pregnancy Comp.,755
4,United States,Females,"All Races,",<1 yrs,2008,2008,5,Unintentional Injury,586

In [7]:
for index,row in test_df.iterrows():
    if row[3] == "All Ages":
        print(row[3])
        test_df.drop(index, inplace=True)

All Ages
All Ages
All Ages
All Ages
All Ages
All Ages
All Ages
All Ages
All Ages
All Ages

In [8]:
test_df.tail()

,State,Sex,Race/Ethnicity,Age Group,First Year,Last Year,Rank,Cause of Death,Deaths
95,United States,Females,"All Races,",65+ yrs,2008,2008,6,Diabetes Mellitus,27340
96,United States,Females,"All Races,",65+ yrs,2008,2008,7,Influenza & Pneumonia,27296
97,United States,Females,"All Races,",65+ yrs,2008,2008,8,Nephritis,21100
98,United States,Females,"All Races,",65+ yrs,2008,2008,9,Unintentional Injury,19767
99,United States,Females,"All Races,",65+ yrs,2008,2008,10,Septicemia,15384

In [9]:
test_df.to_csv('resources/test_file_female_2008.csv',index=False)

In [10]:
year_list = [2008, 2009, 2010, 2011, 2012, 2013]

for item in year_list:
    fname = "resources/female_" + str(item) + ".csv"
    
    df = pd.read_csv(fname)
    
#     print(fname)

In [11]:
fname

'resources/female_2013.csv'

In [12]:
df.head()

,State,Sex,Race/Ethnicity,Age Group,First Year,Last Year,Rank,Cause of Death,Deaths
0,United States,Females,"All Races,",<1 yrs,2013,2013,1,Congenital Anomalies,2196
1,United States,Females,"All Races,",<1 yrs,2013,2013,2,Short Gestation,1905
2,United States,Females,"All Races,",<1 yrs,2013,2013,3,Maternal Pregnancy Comp.,694
3,United States,Females,"All Races,",<1 yrs,2013,2013,4,SIDS,647
4,United States,Females,"All Races,",<1 yrs,2013,2013,5,Unintentional Injury,497

In [83]:
# Create year list
year_list = [2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018]

# Create blank dataframe
const_df = pd.DataFrame({
    "State":[],
    "Sex":[],
    "Race/Ethnicity":[],
    "Age Group":[],
    "First Year":[],
    "Last Year":[],
    "Rank":[],
    "Cause of Death":[],
    "Deaths":[]
})

# Loop through CSV for each year
for item in year_list:
    
    # Set file name
    fname = "resources/female_" + str(item) + ".csv"
    
    # Create dataframe for each year csv
    df = pd.read_csv(fname)
    
    # Loop through rows and drop "All Ages" rows
    for index,row in df.iterrows():
        if row[3] == "All Ages":
            df.drop(index, inplace=True)
    
    # Combine dataframes
    const_df = pd.concat([const_df, df])
    
# Drop State and Race/Ethnicity columns
const_df.drop(["State", "Race/Ethnicity"], axis=1, inplace=True)
    
# Write dataframe to new CSV file
const_df.to_csv('resources/female_2008_to_2018.csv', index=False)

In [84]:
# Create year list
year_list = [2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018]

# Create blank dataframe
const_df = pd.DataFrame({
    "State":[],
    "Sex":[],
    "Race/Ethnicity":[],
    "Age Group":[],
    "First Year":[],
    "Last Year":[],
    "Rank":[],
    "Cause of Death":[],
    "Deaths":[]
})

# Loop through CSV for each year
for item in year_list:
    
    # Set file name
    fname = "resources/male_" + str(item) + ".csv"
    
    # Create dataframe for each year csv
    df = pd.read_csv(fname)
    
    # Loop through rows and drop "All Ages" rows
    for index,row in df.iterrows():
        if row[3] == "All Ages":
            df.drop(index, inplace=True)
    
    # Combine dataframes
    const_df = pd.concat([const_df, df])
    
# Drop State and Race/Ethnicity columns
const_df.drop(["State", "Race/Ethnicity"], axis=1, inplace=True)
    
# Write dataframe to new CSV file
const_df.to_csv('resources/male_2008_to_2018.csv', index=False)